# ---------------------------------
# | SECRET_KEY = JWT encryption key
# | MONGO_URI = MongoDB connection URI
# | DB_NAME = MongoDB database name
# | API_PORT = Webserver https port
# | LOG_PREFIX = A prefix added to all of the logs in the console
# | APP_NAME = App name -_-
# | ACCESS_MAX_AGE = Time in seconds after which the newly created acces_token will expire - Currently depricated
# | SESSION_MAX_AGE = Time in seconds after which a newly created session will expire
# ---------------------------------